@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --dark-01: #131313;
  --dark-02: #424242;
  --dark-03: #727272;
  --dark-04: #A1A1A1;
  --color-primary: #FF900E;
  --color-secondary: #e67a00;
}

body{
  font-family: 'Work Sans', sans-serif;
}

/* -----------------
    common styles 
 ----------------- */

.container{
  width: 75%;
  margin: 10rem auto;
}

.btn{
  padding: 1.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background: var(--color-primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: .5rem;
  transition: .3s ease;
}

.btn:hover{
  background-color: var(--color-secondary);
}

.section-heading{
  font-size: 3rem;
  font-weight: 700;
  margin: 1rem auto;
 }

.details{
  margin: 2rem auto;
  font-size: 1rem;
  color: var(--dark-02);
}



/* ----------------------
    header style
 ----------------------  */

.header{
  position: relative;
  background: rgba(255, 143, 14, 0.1);
  padding: 2rem auto;
}


.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  padding: 1rem 0;
  margin: 0 auto;
  position: relative;
}

.logo{
  font-size: 2rem;
  color: var(--dark-01);
  font-weight: 600;
  text-transform: capitalize;
}

.nav-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
}

.nav-link{
  text-decoration: none;
  color: var(--dark-02);
  font-size: 1.2rem;
 font-weight: 500;
 }

.nav-link:hover{
  color: var(--dark-01);
}

/* toggle style  */
.toggle{
  display: none;
  font-size: 2rem;
  color: var(--dark-01);
  cursor: pointer;
}

#tgl{
  display: none;
}



.banner-text{
  text-align: center;
  width: 40%;
  margin: 1rem auto; 
 }

.banner-img{
  width: 75%;
  margin: 0 auto;
  overflow: hidden;
 }

.banner-img img{
  display: block;
  width: 90%;
  margin: 2rem auto;
 }


 /* banner text */

.banner-heading{
  font-size: 3rem;
  font-weight: 700;
 }

.details{
  font-size: 1rem;
  font-weight: 400;
  margin: .5rem auto;
}


 /* ----------------------
    Quick section style
 ----------------------  */


.section-quick{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 5rem;
}

 .thin-heading{
  font-weight: 500;
  color: var(--dark-03);
 }

 .color-heading{
  color: var(--color-primary);
 }

 .quick-imgbox{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 50%;
 }

 .quick-img img{
  width: 100%;
 }

 .quick-text{
  width: 50%;
 }

/* ----------------------------------
    love and enjoy feature section   
 ----------------------------------  */

.section-love{
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 4rem;
}

.love-text{
  width: 50%;
  padding: 1rem;
}


.section-love .section-heading{
  border: none;
  border-left: 5px solid var(--color-primary);
  padding: 0rem 2rem;
  margin-bottom: 1rem;
}

.card{
  padding: 1.5rem .5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.04);
  margin: .5rem auto;
  border-radius: 5px;
}

.card-heading{
  font-size: 1.2rem;
}

.love-imgbox{
 width: 50%;
 position: relative;
}

.love-imgbox img{
  width: 100%;
  overflow: hidden;
}

.toast{
  background: var(--color-primary);
  color: white;
  font-size: 1.4rem;
  padding: 1rem;
  border: none;
  z-index: 4;
  border-radius: 5px;
  position: absolute;
  left: -5%;
  bottom: -5%;
}

.toast-heading{
  font-size: 3rem;
  font-weight: 700;;
  display: block;
  margin-bottom: .5rem;
}



/* ----------------------------
    facts section style
----------------------------*/
.section-fact{
  width: 65%;
}

.info-box{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2rem auto;
}

.info-card{
  width: 22%;
  text-align: center;
  padding: 1rem;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
}

.info-count{
  margin: 1rem;
}

.info-details{
  font-size: 1rem;
  font-weight: 500;
}

.info-card:hover .info-icon{
  transition: .3s ease;
  transform: scale(1.2) rotate(360deg);
}


/* ----------------------------
contact section (bonus) style
----------------------------*/
.contact{
  background: linear-gradient(rgba(0, 0, 0, 0.466), rgb(148, 148, 148)), url(../images/contatct-bg.jpg) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.contact-form{
  padding: 2rem;
}

.contact-form .section-heading{
  margin-bottom: 2rem;
  color: white;
  text-align: center;

}

.form-row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.form-row input{
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  margin: .5rem;
  font-size: 1rem;
}

.form-row textarea{
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  margin: .5rem;
  font-size: 1rem;
}

.btn-send{
  display: block;
  margin: 1rem auto;
}

/* ----------------------------
    sponsore section style
  ----------------------------*/


.section_sponsor{
  text-align: center;
}

.sponsor_box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  flex-wrap: nowrap;
  margin: 2rem auto;
  padding: 3rem;
  filter: grayscale(100%);
}



/* ----------------------------
    footer section style
  ----------------------------*/

.footer{
  background: #FFF4E7;
  text-align: center;
  padding: 1.5rem;
  border-radius: 5px;
  font-size: 1.2rem;
  color: var(--dark-02);
}


/* ------------------------- 
      mobile responsive 
------------------------- */

@media screen and (max-width: 576px){

  html{
    font-size: 52.5%;
  }

  .container{
    width: 90%;
    overflow: hidden;
  }

  .section-heading{
    font-size: 2rem;
    text-align: center;
  }

  .details{
    margin: 1.5rem;
  }


  .header{
    height: 50vh;
  }

  .nav-bar, .banner{
    width: 80%;
  }



  /*  -----------------
      toggle menu style 
   -----------------   */

  .toggle{
    display: block;
    z-index: 5;
    color: var(--color-primary);
  }

  .nav-list{
    position: fixed;
    height: 100vh;
    background: rgba(0, 0, 0);
    width: 100%;
    top: 0rem;
    right: -100%;
    text-align: center;
    transition: all .5s;
    padding: 2rem;
    z-index: 3;
    border-radius: 5px;
    flex-direction: column;
  }

  .nav-item{
    margin: 1rem auto;
  }

  .nav-link{
    color: white;
    font-size: 1.5rem;
  }

  .nav-link:hover{
    color: var(--color-primary);
  }

  #tgl:checked ~.nav-list{
    right: 0;
  }

  .banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
  }
  .banner-text{
    width: 100%;
  }

  .banner-heading{
    font-size: 2.5rem;
  }

  .banner-img{
    height: 100%;
  }

  .banner-img img{
    width: 100%;
  }

  .section-quick, .section-love{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .love-text, .love-imgbox, .quick-imgbox, .quick-text{
    width: 90%;
  }

  .quick-imgbox{
    padding: 3rem;
    justify-self: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .love-text{
    width: 90%;
    padding: 1rem;
  }

  .love-imgbox{
  width: 90%;
  margin: 3rem auto;
  }

  .info-box{
    display: block;
  }
  .info-card{
    width: 80%;
    margin: 1rem auto;
  }

  .form-row{
    display: block;
  }

  .sponsor_box{
  flex-wrap: wrap;
  } 
}


/* ------------------------- 
      tablet responsive 
------------------------- */

@media  screen and (min-width:577px) and (max-width:768px) {
  html{
    font-size: 70%;
  }

  .container{
    width: 80%;
  }

  .section-heading{
    text-align: center;
  }

  .details{
    margin: 2rem;
  }

  .header{
    height: 80vh;
  }
  .nav-bar, .banner{
    width: 80%;
  }

  .banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
  }
  .banner-text{
    width: 100%;
  }

  .banner-img{
    height: 100%;
  }

  .banner-img img{
    width: 100%;
  }

  .section-quick, .section-love{
    flex-wrap: wrap;
    row-gap: 5rem;
    justify-content: center;
    text-align: center;
  }

  .love-text, .love-imgbox, .quick-imgbox, .quick-text{
    width: 100%;
  }

  .section-love{
    margin-bottom: 10rem;
  }

  .section-fact .info-box{
    flex-wrap: wrap;
    row-gap: 2rem;
  }

  .info-card{
    width: 40%;
  }

  .sponsor_box{
    flex-wrap: wrap;
    row-gap: 2rem;
  } 
}


/* ------------------------- 
      large screen responsive 
------------------------- */

@media  screen and (min-width:769px) and (max-width:1280px) {
  .header{
    height: 100vh;
  }
  .nav-bar, .banner{
    width: 80%;
  }
  .banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
  }
  .banner-text{
    width: 100%;
  }

  .banner-img{
    height: 100%;
  }

  .banner-img img{
    width: 100%;
  }

  .sponsor_box{
    flex-wrap: wrap;
  }
}
